.app-viewport {
	width: 100vw;
	height: 100vh;
}
  .top-panel {
 background-color: #9688883a;
 color: #838f95;
 padding: 10px;
 text-align: center;
 }
        
 .top-panel a {
 color: #838f95;
 text-decoration: none;
 margin: 0 20px;
 }
